body {
	text-align: center;
}

#main {
	margin-top: -14px;
	width: 980px;
	height: 1000px;
	background-image: url(images/index.png);
}

#list {
	width: 600px;
	margin-left: 230px;
	margin-top: 200px;
	font-size: 12px;
}

table {
	font-size: 14px;
	text-align: center;
}

a:link,a:visited {
	text-decoration: none;
	color: #333333
}

a:hover {
	text-decoration: underline;
}